.body, html {
  height: auto;
}
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Roman New Times", sans-serif;
  color: rgb(0, 0, 0);
}

.bgimg-1 {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.bgimg-1 {
  background-image: url("images/homeimg1.jpg");
  height: 300%;
}
.container {
  /* The image used */
  background-image: url("images/homeimg1.jpg");

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  height: 70px;
}

/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 20px;
  float: right;
  height: 73px;
  width: auto;
  color:#ffffff;
  background: #242424;
}

form.example {
  background: #000000;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.logo{
  width: 600px;
  height: 300px;
  position: absolute;
  top: 13%;
  left: 34%;
}
.purpose{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.purpose, p{
    width: auto;
}

.homeimg1{
  width: 700px;
  height: 600px;
  position: absolute;
  top: 100%;
  left: 50%;
}
.homeimg2{
  width: 700px;
  height: 850px;
  position: absolute;
  top: 125%;
  left: 11%;
}
.homeimg3{
  width: 700px;
  height: 600px;
  position: absolute;
  top: 172%;
  left: 50%;
}

.why{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    position: absolute;
    top: 274%;
    left: 50%;
   transform: translate(-50%, -50%);
}

.why, p{
  width: auto;
}

.footer{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    text-align: left;
}  
.footerp{
    color:#ddd;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.home, .contact{
    float: right;
    color:white;
    font-family: 'Times New Roman', Times, serif;

}

  /* The navbar */
  .bottomnav {
    overflow: hidden;
    background-color: black;
    height: 60px;
  }
  
  /* Navbar links */
  .bottomnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }
  
  .bottomnav a:hover {
    background-color: rgb(65, 64, 64);
    color: white;
  }

  .social{
    position: center;
    width: 40px 40px;
  }
